.button {
        background-color: red; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        align-items: center;
        float: right;
        

}

body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        width: 100%;
        top: -20px;
        right: -40px;
        width: auto;
        height: auto;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../gugu.png);

}

.enter{

        opacity: 0.5;
        filter: alpha(opacity=50);

}

.login input [type=text]{
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.login input [type=password]{
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
        align-items: center;    
        position: absolute;
        top: calc (50%-75px);
        left: calc (50%-50px);
        height: 150px;
        width: 350px;
        padding: 10px;
}

.login input [type=button]:hover{
        opacity: 0.8;
}

.login input [type=button]:active{
        opacity: 0.6;
}

.login input [type=text]:focus{
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9)
}

.login input [type=password]:focus{
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9)
}

.login input [type=button]:focus{
        outline: none;
}

::-webkit-input-placeholder{
        color: rgba(255, 255, 255, 0.6);

}

::-moz-input-placeholder{
        color: rgba(255, 255, 255, 0.6);
}


.card {
        
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
        height: 25%;
        margin-left: 30%;
        margin-right: 5%;
        margin-top: 12%;
}
      
      
.card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
      
      
.container {
        padding: 2px 5px;
}

.center h3{
        font-family: 'Lacquer', sans-serif;
       
}

.sign-up input [type=text]{
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.sign-up input [type=password]{
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: red;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up{
        align-items: center;    
        position: absolute;
        top: calc (50%-75px);
        left: calc (50%-50px);
        height: 150px;
        width: 350px;
        padding: 10px;
}

.sign-up input [type=button]:hover{
        opacity: 0.8;
}

.sign-up input [type=button]:active{
        opacity: 0.6;
}

.sign-up input [type=text]:focus{
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9)
}

.sign-up input [type=password]:focus{
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9)
}

.sign-up input [type=button]:focus{
        outline: none;
















